@model List<BlogViewModel>

<h1>Blogs</h1>

@foreach (BlogViewModel item in Model)
{
    <div class="blog">
        <div class="col-4">
            <img src="@item.ImageUrl" />
        </div>
        <div class="col-8">
            <h1>@item.BlogTitle</h1>
            <br />
            <span>@item.BlogDescription</span>
            <br />
            <label>Yazar</label>
            <br />
            <span @item.BlogWriter></span>
            <a asp-action="GetBlog" asp-route-id="@item.BlogId">İncele</a>
        </div>
    </div>
}