@model List<BlogViewViewModel>

<h1>Blogs</h1>

@* @foreach (BlogViewModel item in Model)
{
    <div class="blog">
        <div class="col-4">
            <img src="@item.ImageUrl" />
        </div>
        <div class="col-8">
            <h1>@item.BlogTitle</h1>
            <br />
            <span>@item.BlogDescription</span>
            <br />
            <label>Yazar</label>
            <br />
            <span>@item.BlogWriter</span>
            <a asp-action="GetBlog" asp-route-id="@item.BlogId">İncele</a>
        </div>
    </div>
} *@


<div class="blogTable">
    @foreach(BlogViewViewModel item in Model){
        <a class="blog" asp-action="GetBlog" asp-route-id="@item.BlogId">
            <img src="@item.ImageUrl"/>
            <div class="blogText">
                <p>@item.BlogTitle</p>
                <span>@item.BlogDescription</span>
                <span>@item.BlogWriter</span>
            </div>
        </a>
    }
    
</div>