@model IQueryable<BlogViewViewModel>

<h1>Blogs</h1>

@* @foreach (BlogViewModel item in Model)
{
    <div class="blog">
        <div class="col-4">
            <img src="@item.ImageUrl" />
        </div>
        <div class="col-8">
            <h1>@item.BlogTitle</h1>
            <br />
            <span>@item.BlogDescription</span>
            <br />
            <label>Yazar</label>
            <br />
            <span>@item.BlogWriter</span>
            <a asp-action="GetBlog" asp-route-id="@item.BlogId">İncele</a>
        </div>
    </div>
} *@


<div class="blogTable">
    @foreach (BlogViewViewModel item in Model)
    {
        <a class="blog" asp-action="GetBlog" asp-route-id="@item.BlogId">
            <img src="@item.ImageUrl" />
            <div class="blogText">
                <p class="blogTitle">@item.BlogTitle</p>
                <span class="blogDescription">@item.BlogDescription</span>
                <span class="blogWriter">@item.BlogWriter</span>
            </div>
        </a>
    }
    
</div>


@* @{
    int totalPageCount = (int)ViewBag.PageCount;
    int currentPage = 1; 
    int startPage = (currentPage - 1) > 0 ? (currentPage - 1) : 1;
    int endPage = (currentPage + 1) <= totalPageCount ? (currentPage + 1) : totalPageCount;
}

<div class="pagination">
    @if (currentPage > 1)
    {
        <a asp-action="BlogsList" asp-route-page="@currentPage-1">«</a>
    }
    @for (int i = startPage; i <= endPage; i++)
    {
        
         <a asp-action="BlogsList" asp-route-page="@i">@i</a>
        
    }
    @if (currentPage < totalPageCount)
    {
        <a asp-action="BlogsList" asp-route-page="@currentPage+1">»</a>
    }
</div>
 *@
@{
    int totalPageCount = (int)ViewBag.PageCount;
    int currentPage = 1;
    int startPage = (currentPage - 1) > 0 ? (currentPage - 1) : 1;
    int endPage = (currentPage + 1) <= totalPageCount ? (currentPage + 1) : totalPageCount;
}

<div class="pagination">
    @if (currentPage > 1)
    {
        @(currentPage - 1)
        <a asp-action="BlogsList" asp-route-page="@(currentPage-1)">«</a>
    }
    @for (int i = currentPage; i <= endPage; i++)
    {
        //arttırma işlemi yapılmalı
         <a asp-action="BlogsList" asp-route-page="@i" class="active">@i</a>
        
    }
    @if (currentPage < totalPageCount)
    {
        <a asp-action="BlogsList" asp-route-page="@(currentPage+1)">»</a>
    }
</div>

