@model BlogViewViewModel

<div class="getBlog">
    <h1>@Model.BlogTitle</h1>
    <br />

    <img class="blogImage" src="@Model.ImageUrl" />

    <h5>@Model.BlogDescription</h5>
    <span>@Model.BlogText</span>

    <div class="blogWriter">
        <label>Yazar</label>
        <br />
        <span style="color:red">@Model.BlogWriter</span>
    </div>

</div>
