@model BlogViewModel


<h1>BLOGGGG</h1>

<img src="@Model.ImageUrl"/>
<h1>@Model.BlogTitle</h1>
<h5>@Model.BlogDescription</h5>
<span>@Model.BlogText</span>

<label>Yazar</label>
<br />
<span style="color:red">@Model.BlogWriter</span>